{% extends 'base.html.twig' %}
{% block body %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6">
                {% include '@FullCalendar/Calendar/calendar.html.twig' %}
            </div>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                <button class="btn" id="booking">Prendre un rendez-vous</button>
            {% else %}
                <a href="{{ path('sonata_user_admin_security_login') }}">Se connecter/créer un compte pour prendre un rendez-vous</a>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            <div class="col" style="display : none" id="bookingForm">
                {% if app.request.locale =="fr" %}
                {{ form_start(form) }}
                    {#{{ form_widget(form) }}#}
                    
                    {{ form_label(form.beginAt, 'début du rendez-vous' )}}
                    {{ form_widget(form.beginAt) }}
                    {{ form_label(form.title, 'quel type de prestation souhaitez-vous ?') }}
                    {{ form_widget(form.title, { 
                            'attr': {
                                'class': 'form-control',
                                'style': 'font-size:20px; padding:0'
                            }
                        })
                    }}
                    {{ form_label(form.userId, 'nom d\'utilisateur') }}
                    {{ form_widget(form.userId) }}<br/>
                    <input class="btn btn-success mt-3" type="submit" value="Valider le rendez-vous" />
                {{ form_end(form) }}
                {% elseif app.request.locale == "en" %}
                {{ form_start(form) }}
                    {#{{ form_widget(form) }}#}
                    
                    {{ form_label(form.beginAt, 'begin at ?' )}}
                    {{ form_widget(form.beginAt) }}
                    {{ form_label(form.title, 'what kind of prestation ?') }}
                    {{ form_widget(form.title, { 
                            'attr': {
                                'class': 'form-control',
                                'style': 'font-size:20px; padding:0'
                            }
                        })
                    }}
                    {{ form_label(form.userId, 'username') }}
                    {{ form_widget(form.userId) }}<br/>
                    <input class="btn btn-success mt-3" type="submit" value="confirm" />
                {{ form_end(form) }}
                {% else %}
                {{ form_start(form) }}
                    {#{{ form_widget(form) }}#}
                    
                    {{ form_label(form.beginAt, 'início da consulta' )}}
                    {{ form_widget(form.beginAt) }}
                    {{ form_label(form.title, 'que tipo de serviço você quer ?') }}
                    {{ form_widget(form.title, { 
                            'attr': {
                                'class': 'form-control',
                                'style': 'font-size:20px; padding:0'
                            }
                        })
                    }}
                    {{ form_label(form.userId, 'username') }}
                    {{ form_widget(form.userId) }}<br/>
                    <input class="btn btn-success mt-3" type="submit" value="confirmar a consulta" />
                {{ form_end(form) }}
                {% endif %}
            </div>
            {% endif %}
            
        </div>
    </div>
    
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <style>
        #application_appbundle_booking_userId {
            /* for Firefox */
            -moz-appearance: none;
            /* for Chrome */
            -webkit-appearance: none;
        }

        /* For IE10 */
        #application_appbundle_booking_userId::-ms-expand {
            display: none;
        }
        
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://momentjs.com/downloads/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/locale-all.js"></script>
    <script type="text/javascript">
    {% if app.request.locale == "fr"%}
        $(function () {
            $('#booking').click(function(){
                $('#bookingForm').attr("style","display : block")
            })
            $('#application_appbundle_booking_beginAt_time').attr('class','row');
            $('#application_appbundle_booking_beginAt_time_hour').attr('class','form-control col-3');
            $('#application_appbundle_booking_beginAt_time_minute').attr('class','form-control col-3');
            
            
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
            $('#application_appbundle_booking_userId option:selected').text('{{ app.user.username}}').val('{{ app.user.id }}');
            {% endif %}
            var calendar = $('#calendar-holder').fullCalendar({
                locale: 'fr',
                editable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: "/fc-load-events",
                businessHours: {
                    start: '09:00',
                    end: '18:00',
                    dow: [1, 2, 3, 4, 5]
                },
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    if (title) {
                        
                        var start = $.fullCalendar.moment(start).format();
                        var end = $.fullCalendar.moment(end).format();
                        $.ajax({
                            data: 'title='+ title+'&start='+ start +'&end='+ end +'&url='+ url ,
                            type: "POST",
                            success: function(json) {
                                alert('Added Successfully');
                            }
                        });
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                },

                editable: true,
                eventDrop: function(event, delta) {
                        var start = $.fullCalendar.moment(start).format();
                        var end = $.fullCalendar.moment(end).format();
                        $.ajax({
                            data: 'title=' + event.title + '&start='+ start +'&end=' + end + '&id=' + event.id ,
                            type: "POST",
                            success: function(json) {   
                                alert("Updated Successfully");
                            }
                        });
                },
                eventResize: function(event) {
                    var start = $.fullCalendar.moment(start).format();
                    var end = $.fullCalendar.moment(end).format();
                    $.ajax({
                        data: 'title=' + event.title + '&start=' + start + '&end=' + end + '&id=' + event.id ,
                        type: "POST",
                        success: function(json) {
                        alert("Updated Successfully");
                        }
                    });
                }

            });

        });  
    {% elseif app.request.locale == "en" %}
        $(function () {
            $('#booking').click(function(){
                $('#bookingForm').attr("style","display : block")
            });
            $('#application_appbundle_booking_userId option:selected').text('{{ app.user.username}}').val('{{ app.user.id }}');
            var calendar = $('#calendar-holder').fullCalendar({
                locale: 'en',
                editable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: "/fc-load-events",
                businessHours: {
                    start: '09:00',
                    end: '18:00',
                    dow: [1, 2, 3, 4, 5]
                },
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    if (title) {
                        
                        var start = $.fullCalendar.moment(start).format();
                        var end = $.fullCalendar.moment(end).format();
                        $.ajax({
                            data: 'title='+ title+'&start='+ start +'&end='+ end +'&url='+ url ,
                            type: "POST",
                            success: function(json) {
                                alert('Added Successfully');
                            }
                        });
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                },

                editable: true,
                eventDrop: function(event, delta) {
                        var start = $.fullCalendar.moment(start).format();
                        var end = $.fullCalendar.moment(end).format();
                        $.ajax({
                            data: 'title=' + event.title + '&start='+ start +'&end=' + end + '&id=' + event.id ,
                            type: "POST",
                            success: function(json) {   
                                alert("Updated Successfully");
                            }
                        });
                },
                eventResize: function(event) {
                    var start = $.fullCalendar.moment(start).format();
                    var end = $.fullCalendar.moment(end).format();
                    $.ajax({
                        data: 'title=' + event.title + '&start=' + start + '&end=' + end + '&id=' + event.id ,
                        type: "POST",
                        success: function(json) {
                        alert("Updated Successfully");
                        }
                    });
                }

            });

        }); 
    {% else %}
        $(function () {
            $('#booking').click(function(){
                $('#bookingForm').attr("style","display : block")
            });
            $('#application_appbundle_booking_userId option:selected').text('{{ app.user.username}}').val('{{ app.user.id }}');
            var calendar = $('#calendar-holder').fullCalendar({
                locale: 'pt',
                editable: true,
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                events: "/fc-load-events",
                businessHours: {
                    start: '09:00',
                    end: '18:00',
                    dow: [1, 2, 3, 4, 5]
                },
                selectable: true,
                selectHelper: true,
                select: function(start, end, allDay) {
                    if (title) {
                        
                        var start = $.fullCalendar.moment(start).format();
                        var end = $.fullCalendar.moment(end).format();
                        $.ajax({
                            data: 'title='+ title+'&start='+ start +'&end='+ end +'&url='+ url ,
                            type: "POST",
                            success: function(json) {
                                alert('Added Successfully');
                            }
                        });
                        calendar.fullCalendar('renderEvent',
                            {
                                title: title,
                                start: start,
                                end: end,
                                allDay: allDay
                            },
                            true // make the event "stick"
                        );
                    }
                },

                editable: true,
                eventDrop: function(event, delta) {
                        var start = $.fullCalendar.moment(start).format();
                        var end = $.fullCalendar.moment(end).format();
                        $.ajax({
                            data: 'title=' + event.title + '&start='+ start +'&end=' + end + '&id=' + event.id ,
                            type: "POST",
                            success: function(json) {   
                                alert("Updated Successfully");
                            }
                        });
                },
                eventResize: function(event) {
                    var start = $.fullCalendar.moment(start).format();
                    var end = $.fullCalendar.moment(end).format();
                    $.ajax({
                        data: 'title=' + event.title + '&start=' + start + '&end=' + end + '&id=' + event.id ,
                        type: "POST",
                        success: function(json) {
                        alert("Updated Successfully");
                        }
                    });
                }

            });

        }); 
    {% endif %}
    </script>
{% endblock %}