<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        {% block stylesheets %}  
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <style>
            @font-face {
                font-family: 'Gabriola';
                font-style: normal;
                font-weight: normal;
                src: local('Gabriola'), url('/fonts/gabriola.woff') format('woff');
            }
            body {
                font-family : "Gabriola";
                font-size: 16px;
            }
            h1 {
                font-size: 75px;
            }
            b {
                font-size: 100px;
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                {% if app.request.locale == "fr"%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage.fr') }}">ACCUEIL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.fr', {'slug': 'pratique'})}}">MA PRATIQUE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.fr' , {'slug': 'therapie'})}}">THERAPIE QUANTIQUE ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.fr', {'slug': 'kundalini'})}}">EVEIL KUNDALINI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.fr', {'slug': 'evenements'})}}">EVENEMENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('booking_index.fr') }}">AGENDA</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Mon compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">Se déconnecter</a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user.fr') }}">Mon compte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">Se déconnecter</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_login') }}">Se connecter</a>
                        </li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') == 'homepage' %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homepage.pt') }}">
                                <img src=" {{ asset('images/pt.jpg') }} " height ="20" alt="heka light, heka-light, portuguese flag, drapeau portugais">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homepage.en') }}">
                                <img src=" {{ asset('images/gb.jpg') }} " height ="20" alt="heka light, heka-light, english flag, drapeau anglais">
                            </a>
                        </li>
                    {% endif %}
                {% elseif app.request.locale == "pt" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage.pt') }}"> HOMEPAGE </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.pt', {'slug': 'pratique'})}}">MINHA PRATICA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.pt' , {'slug': 'therapie'})}}">TERAPIA QUANTICA ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.pt', {'slug': 'kundalini'})}}">DESPERTAR KUNDALINI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.pt', {'slug': 'evenements'})}}">EVENTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('booking_index.pt') }}">AGENDA</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">minha conta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">desconectar</a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user.pt') }}">minha conta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">desconectar</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_login') }}">Ligar</a>
                        </li>
                    {% endif %}
                    {% if app.request.attributes.get('_route') == 'homepage' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage.fr') }}">
                            <img src=" {{ asset('images/fr.jpg') }} " height ="20" alt="heka light, heka-light, french flag, drapeau français">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage.en') }}">
                            <img src=" {{ asset('images/gb.jpg') }} " height ="20" alt="heka light, heka-light, english flag, drapeau anglais">
                        </a>
                    </li>
                    {% endif %}
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage.en') }}">HOMEPAGE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.en', {'slug': 'pratique'})}}">MY PRACTICE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.en' , {'slug': 'therapie'})}}">QUANTUM THERAPY ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.en', {'slug': 'kundalini'})}}">AWAKENING KUNDALINI</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('page.en', {'slug': 'evenements'})}}">EVENTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('booking_index.en') }}">AGENDA</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">my account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">logout</a>
                        </li>
                    {% elseif is_granted('ROLE_USER') %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('user.en') }}">my account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_logout') }}">logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sonata_user_admin_security_login') }}">Login</a>
                        </li>
                    {% endif %}
                    
                    {% if app.request.attributes.get('_route') == 'homepage' %}  
                    <li class="nav-item"> 
                        <a class="nav-link" href="{{ path('homepage.fr') }}">
                            <img src=" {{ asset('images/fr.jpg') }} " height ="20" alt="heka light, heka-light, french flag, drapeau français">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('homepage.pt') }}">
                            <img src=" {{ asset('images/pt.jpg') }} " height ="20" alt="heka light, heka-light, portuguese flag, drapeau portugais">
                        </a>
                    </li>
                    {% endif %}    
                {% endif %}    
                </ul>
            </div>
        </nav>
        {% block body %}{% endblock %}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
