{% extends 'base.html.twig' %}
{% block body %}
    <div id="carouselHekaLight" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src=" {{ asset('images/B.jpg') }}" height="300" alt="heka light, heka-light">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=" {{ asset('images/A.jpg') }} " height="300" alt="heka light, heka-light">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=" {{ asset('images/C.jpg') }} " height="300" alt="heka light, heka-light">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=" {{ asset('images/D.jpg') }} " height="300" alt="heka light, heka-light">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=" {{ asset('images/E.jpg') }} " height="300" alt="heka light, heka-light">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=" {{ asset('images/F.jpg') }} " height="300" alt="heka light, heka-light">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=" {{ asset('images/G.jpg') }} " height="300" alt="heka light, heka-light">
            </div>
            <a class="carousel-control-prev" href="#carouselHekaLight" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselHekaLight" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-5 row no-gutters">
                <div class="col-12 row justify-content-center">
                    <div class="col-4">
                        <img class="img-thumbnail mx-auto" src="{{asset('images/carole.jpg') }}">
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-2 mt-5">
                        <img class="img-fluid" src="{{asset('images/mandala.jpg') }}">
                    </div>
                    <div class="col-8 text-center m-0">
                        <h1 class="m-0"> <b>H</b>eka-Light </h1>
                    </div>
                    <div class="col-2 mt-5">
                        <img class="img-fluid" src="{{asset('images/mandala.jpg') }}">
                    </div>
                </div>
            </div>
            {% if app.request.locale == "fr" %}
            <div class="col-7 no-gutters">
                <p class="text-center mb-0">Le coeur tient sa tête dans sa main, sa face est voilée; les mains du coeur sont liées par des chaines solides, les pieds du coeur sont cloués.</p>
                <p class="text-center mb-0">Les yeux du coeur ne sont jamais secs, car il s’exprime uniquement par les larmes. Les oreilles du coeur sont si fines qu’il entend l’invitation venue de loin.</p>
                <p class="text-center mb-0">La voix du coeur ne dit mot, mais son cri porte dans le lointain. Le coeur n’a ni question, ni réponse, le coeur se résume en soupir.</p>
                <p class="text-center mb-0"> Les voies du coeur sont mystérieuses, le coeur a une âme d’enfant. Le souffle du coeur déborde de tendresse, le coeur a la face indulgente.</p>
                <p class="text-center mb-0">Du coeur, l’idéal seul est le dieu, une aspiration de chaque instant est sa vie. Le coeur ne se préoccupe ni de vie, ni de mort,</p>
                <p class="text-center mb-0">le coeur ne faiblit pas dans l’adversité. Du coeur, la beauté est l’unique fin, l’inspiratrice et le tout. Le coeur est à lui-même son propre remède,</p>
                <p class="text-center mb-0">il guérit toutes les blessures.</p>
                <p class="text-center mb-0">La voie du coeur est semée d’épines, mais elle conduit finalement à la béatitude.</p>
                <p class="text-center">L’espérance est le bâton que le coeur tient en main.</p>
                <p class="text-right mr-5">Hazrat Inayat Khan</p>
            </div>
            {% endif %}
            {% if app.request.locale == "en" %}
            <div class="col-7 no-gutters">
                <p class="text-center mb-0">The heart holds its head in its hand, its face is veiled; the hands of the heart are bound by strong chains, the feet of the heart are nailed. </p>

                <p class="text-center mb-0">The eyes of the heart are never dry because it is expressed only by tears. The ears of the heart are so fine that he hears the invitation from afar.</p>

                <p class="text-center mb-0">The voice of the heart does not say a word, but its cry is in the distance. The heart has neither question nor answer, the heart is sighed.</p>

                <p class="text-center mb-0">The ways of the heart are mysterious, the heart has a child's soul. The breath of the heart overflows with tenderness, the heart has the indulgent face.</p>

                <p class="text-center mb-0">From the heart, the ideal alone is the god, an aspiration of every moment is his life. The heart cares neither for life nor for death</p>

                <p class="text-center mb-0">the heart does not weaken in adversity. From the heart, beauty is the only end, the inspirer and the whole. The heart is to itself its own remedy,</p>

                <p class="text-center mb-0">he heals all wounds.</p>

                <p class="text-center mb-0">The path of the heart is strewn with thorns, but it ultimately leads to bliss.</p>

                <p class="text-center mb-0">Hope is the stick that the heart holds in its hands.</p>
                <p class="text-right mr-5">Hazrat Inayat Khan</p>
            </div>
            {% endif %}
            {% if app.request.locale == "pt" %}
            <div class="col-7 no-gutters">
                <p class="text-center mb-0">O coração mantém a cabeça na mão, o rosto está velado; as mãos do coração estão atadas por cadeias fortes, os pés do coração são pregados.</p>

                <p class="text-center mb-0">Os olhos do coração nunca estão secos porque são expressos apenas pelas lágrimas. Os ouvidos do coração são tão bons que ele ouve o convite de longe.</p>

                <p class="text-center mb-0">A voz do coração não diz uma palavra, mas seu grito está à distância. O coração não tem pergunta nem resposta, o coração suspirou.</p>

                <p class="text-center mb-0">Os caminhos do coração são misteriosos, o coração tem alma de criança. O sopro do coração transborda de ternura, o coração tem o rosto indulgente.</p>

                <p class="text-center mb-0">Do coração, o ideal sozinho é o deus, uma aspiração de cada momento é a sua vida. O coração não se importa nem pela vida nem pela morte</p>

                <p class="text-center mb-0">o coração não enfraquece na adversidade. Do coração, a beleza é o único fim, o inspirador e o todo. O coração é para si mesmo seu próprio remédio</p>

                <p class="text-center mb-0">ele cura todas as feridas.</p>

                <p class="text-center mb-0">O caminho do coração está repleto de espinhos, mas, em última análise, leva à felicidade.</p>

                <p class="text-center mb-0">Esperança é o pau que o coração segura nas mãos.</p>
                <p class="text-right mr-5">Hazrat Inayat Khan</p>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}