{% extends 'base.html.twig' %}
{% block body %}
{% if 'pratique' in app.request.uri %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg mb-5 mb-lg-0">
                <img class="img-fluid mr-3" src="{{ asset('images/pratique.jpg') }}" alt="heka-light, heka, light, heka light"/>
            </div>
            <div class="col">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "pratique_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "pratique_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "pratique_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="1" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_application_app_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12 offset-md-3 d-block d-lg-none">
                <img class="img-fluid col-md-6 mx-auto" src="{{ asset('images/CE.jpg') }}" alt="heka-light, heka, light, heka light" />
            </div>
            <div class="col">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "pratique_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "pratique_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "pratique_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="2" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_application_app_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
            <div class="col-lg d-none d-lg-block">
                <img class="img-fluid" src="{{ asset('images/CE.jpg') }}" alt="heka-light, heka, light, heka light" />
            </div>
        </div>
    </div>
{% elseif 'therapie' in app.request.uri %} 
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg mb-5 mb-lg-0">
                <img class="img-fluid" src="{{ asset('images/rocher.jpeg') }}" alt="heka-light, heka, light, heka light"/>
            </div>
            <div class="col">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "therapie_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "therapie_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "therapie_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="3" %}
                    <ul>
                        <li>
                            
                            <a href="{{ path('admin_application_app_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "therapie_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "therapie_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "therapie_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="4" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_application_app_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="d-block d-lg-none col-12 my-4">
                <img class="img-fluid" src="{{ asset('images/arbre.jpg') }}" alt="heka-light, heka, light, heka light" />
            </div>
            <div class="col">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "therapie_3" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "therapie_3" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "therapie_3" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="5" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_application_app_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
            <div class="d-none d-lg-block col-lg mb-5 mb-lg-0">
                <img class="img-fluid" src="{{ asset('images/arbre.jpg') }}" alt="heka-light, heka, light, heka light" />
            </div>
        </div>
    </div>
{% elseif 'kundalini' in app.request.uri %} 
    <div> page kundalini </div>
{% elseif 'evenements' in app.request.uri %} 
    <div> page evenements </div>
{% endif %}
{% endblock %}