{% extends 'base.html.twig' %}
{% block body %}
{% if 'pratique' in app.request.uri %}
    <div class="container-fluid">
        <div class="media">
            
            <img class="img-fluid align-self-center col-6 col-md-5 mb-3" src="{{ asset('images/pratique.jpg') }}" alt="heka-light, heka, light, heka light"/>
            
            <div class="media-body">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "pratique_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "pratique_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "pratique_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="1" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="media">
            <div class="media-body">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "pratique_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "pratique_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "pratique_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="2" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
            <img class="img-fluid col-6 col-md-4 align-self-center" src="{{ asset('images/CE.jpg') }}" alt="heka-light, heka, light, heka light" />
        </div>
    </div>
{% endif %}
{% if 'therapie' in app.request.uri %} 
    <div class="container-fluid">
        <div class="media">
            
            <img class="col-6 col-md-6 img-fluid align-self-center mb-3" src="{{ asset('images/rocher.jpeg') }}" alt="heka-light, heka, light, heka light"/>
            
            <div class="media-body">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "therapie_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "therapie_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "therapie_1" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="3" %}
                    <ul>
                        <li>
                            
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "therapie_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "therapie_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "therapie_2" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="4" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="media">
            <div class="media-body">
            {% for product in products %}
                {% if app.request.locale =="fr" and product.getLocale == "fr" and product.getTitle == "therapie_3" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="en" and product.getLocale == "en" and product.getTitle == "therapie_3" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if app.request.locale =="pt" and product.getLocale == "pt" and product.getTitle == "therapie_3" %}
                    {{ product.getDescription | raw }}
                {% endif %}
                {% if is_granted('ROLE_ADMIN') and product.id =="5" %}
                    <ul>
                        <li>
                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">éditer</a>
                        </li>
                    </ul>
                {% endif %}
            {% endfor %}
            </div>
            
            <img class="col-6 col-md-5 img-fluid align-self-center" src="{{ asset('images/arbre.jpg') }}" alt="heka-light, heka, light, heka light" />
            
        </div>
    </div>
{% endif %}
{% if 'kundalini' in app.request.uri %} 
    <div> page kundalini </div>
{% endif %}
{% if 'evenements' in app.request.uri %} 
    <div> page evenements </div>
{% endif %}
{% endblock %}